# Project information
site_name: "Appa LCA documentation"
site_url: "https://appalca.github.io"

# Repository
repo_name: appalca/appalca.github.io
repo_url: https://github.com/appalca/appalca.github.io

# Configuration
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - toc.integrate
    - content.code.annotate
    - content.code.copy
markdown_extensions:
  - admonition
  - tables
  - attr_list
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Page tree
nav:
  - Home: index.md
  - Basics:
      - basics/index.md
      - Getting started: basics/getting_started.md
      - Appa Build basics: basics/appa_build_basics.md
      - Appa Run basics: basics/appa_run_basics.md
  - In depth:
      - in_depth/index.md
      - Appa Build in depth: in_depth/appa_build_in_depth.md
      - Impact models in depth: in_depth/impact_models_in_depth.md
      - Appa Run in depth: in_depth/appa_run_in_depth.md
  - About:
      - Reference: about/reference.md
      - FAQ: about/faq.md
      - Community: about/community.md
      - Acknowledgments: about/acknowledgments.md
